body {
    background-color: #aaa;
}

.grid-btn {
    height: 50px;
    width: 50px;
}

.grid-container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.grid-el {
    background-color: #eee;

    margin: 0;
}

/* .grid-el:hover {
    background-color: #111;
} */
